{% extends "base.html" %}

{% block body %}
<h1>Artist search</h1>
<form>
    <div class="form-group">
        <label for="inputArtist">Artist</label>
        <input type="text" class="form-control" name="q" value="{{ q }}" id="inputArtist" placeholder="Pitbull">
    </div>
    <button type="submit" value="search" class="btn btn-default">Search</button>
</form>
<br/>
<ul>
    {% for artist in artists %}
    <li><a href="{{ url_for('related_artists', artist_id=artist['id']) }}">{{ artist['name'] }}</a> - <a href="{{ url_for('related_tracks', artist_id=artist['id']) }}">see related tracks</a></li>
    {% endfor %}
</ul>
{% endblock %}
