{% extends "base.html" %}

{% block body %}

<h1>Spotify Playlist Suggester</h1>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://spotity.app.mathcass.com" data-via="mathcass">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<p>A simple tool to generate a playlist based on Spotify's related artists of a band</p>
<p><strong>First</strong>, authenticate your Spotify account.</p>
<p><strong>Then</strong>, search for an artist and click <em>see related tracks</em>. Save it.</p>

<p><strong>Finally</strong>, rock out to your new playlist.</p>

<p><strong>Please</strong> report any issues you see to <a href="https://github.com/mathcass/spotify-playlist-maker/issues">Github</a>.</p>

<form>
    <div class="form-group">
        <label for="inputArtist">Artist</label>
        <input type="text" class="form-control" name="q" value="{{ q }}" id="inputArtist" placeholder="Pitbull">
    </div>
    <button type="submit" value="search" class="btn btn-default">Search</button>
</form>
{% endblock %}
